:root {
	--primary-color: #9900ef;
	--secondary-color: #ff9800;
	--tertiary-color: #C5CAE9;
	--fourth-color: #263238;
	--sectfontsize: 44px;
}

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--fourth-color);
}

/* header/nav bar styles */
header {
	background-position: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-attachment: fixed;
}

header h1 {
  font-weight: bold;
  font-size: 52px;
  color: var(--primary-color);
  margin: 5px 0;
  padding: 5px 50px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--tertiary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 9px 0;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: medium;
  font-size: 1.7vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-bottom: solid;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
/*   border-radius: 10px; */
  text-shadow: none;
}
/* end of header/navbar styles */


/* footer styles */

footer {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	margin: 0;
}

footer h2 {
  color: var(--primary-color);
  margin: 0;
  padding: 0 40px;
}

footer a {
	color: var(--primary-color);
	text-decoration: none;
}

footer div ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

footer div ul li a {
  padding: 10px 15px;
  font-weight: medium;
  font-size: 1.7vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-bottom: solid;
}

#onit-home {
	width: 30%;
	max-height: 400px;
}

/* end footer styles */

section {
	padding: 0;
}


/* hero styles start*/
.hero {
	background-image: url("../images/pexels-felix-mittermeier-956981.jpg");
/* 	Photo by Felix Mittermeier: https://www.pexels.com/photo/blue-universe-956981/ */
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
/* 	background-attachment: fixed; */
	height: 250px;
}

.hero-picture {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.hero-picture img {
	margin: 0;
	justify-content: start;

}

.hero-cool-subtitle {

	text-align: right;
	line-height: 1.6;
}

.hero-cool-subtitle h2 {
	font-size: 36px;
	text-align: right;
}

.hero-cool-subtitle p {
	text-align: right;
	color: var(--tertiary-color);
}

.hero-picture img {
	margin: 0;
	justify-content: start;

}

.hero-cool-subtitle {

	text-align: right;
	line-height: 1.6;
}
/* end hero styles */


/* start about me styles */

.about-me {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.about-me-left {
	justify-content: start;
	align-content: center;
	border-right: solid;
	width: 10%;
}

.about-me-right {
	color: var(--tertiary-color);
	justify-content: end;
	width: 80%;
	border: none;
}

/* end ABOUT ME styles */


/* start project styles */

.projects {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.projects-left {
	justify-content: left;
	align-content: center;
	border-right: solid;
	width: 10%;
}

.projects-right {
	justify-content: right;
	width: 80%;
	border: none;
}
	
}

/* end project styles */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

	header {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
	}
	
	header h1 {
		width: 100%;
		text-align: center;
	}
	
	header nav {
		margin-left: 0;
		margin-right: 0;
	}
	
	header nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
	}
	
	header nav ul li a {
		font-size: 18px;
		padding: 10px 15px;
		}
	
	footer {
		padding-bottom: 0;
		justify-content: center;
/* 		position: relative; */
	}
	
	
	footer div ul {
		margin-top: 10px;
		width: 100%;
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
	}
	
	footer div ul li a {
		font-size: 18px;
		padding: 10px 15px;
		}



/* end for width 980px */	
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 768px) {
	header nav {
		margin-left: 0;
		margin-right: 0;
	}
	
	header nav ul {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	
	footer h2 {
		text-align: center;
	}
	
	.about-me-left {
		justify-content: center;
		text-align: center;
		border: none;
		width: 100%;
	}

	.about-me-right {
		width: 100%;
	}
	

	.projects-left {
		justify-content: center;
		text-align: center;
		border: none;
		width: 100%;
	}

	.projects-right {
		width: 100%;
	}
	
}


/* MEDIA QUERY */
@media screen and (max-width: 710px) {
	.hero {
		height: 360px;
	}
	
	.hero-picture {
		justify-content: center;
		width: 100%;
	}
	
	.hero-cool-subtitle h2, .hero-cool-subtitle p {
		margin: 0;
		text-align: center;
	}
	
	.hero-cool-subtitle {
		width: 100%;
	}
	.hero-cool-subtitle p {
		width: 100%;
	}
	
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 610px) {

	header nav ul {
		justify-content: center;
	}
	
	header nav ul li a {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	header nav ul li a {
		margin: none;
		padding: none;
		font-size: 14px;
	}

	footer div ul li a {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	
	footer div ul li a {
		margin: none;
		padding: none;
		font-size: 14px;
	}




	
	
}
